<h1>ユーザー詳細</h1>

<p>名前</p>
<p><%= @user.name %></p>
<p>性別</p>
<p><%= @user.gender %></p>
<p>生年月日</p>
<p><%= @user.birthday %></p>
<p>出身地</p>
<p><%= @user.hometown %></p>
<p>備考</p>
<p><%= @user.remarks %></p>

<%= link_to "一覧へ", users_path %>